# 通用
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.tmp
*.bak
*.swp
*~

# Gradle
.gradle/
build/
local.properties
.gradletasknamecache

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

.kotlin/